header{
	background: grey;
	color: white;
	text-align: center
	
}
body{
	background: grey;
	color: black;
}
#left {

	float: left;
}
#right {

	float: right;
}
a {
  text-decoration: none;
  color: white;

}
#topbanner{
	height: 10em;
        background: url(img/topbanner.jpg) repeat-y;
        background-size: cover;
}

ul {
    	margin: 0; 
    	padding: 4px; 
}
ul li {
    	display: inline; 
   	margin-right: 5px; 

}
